<div *ngIf="apiInProcess" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div *ngIf="!apiInProcess">
    <div class="clearfix">
        <h2 class="float-left">Edit Campaign</h2>
        <a class="float-right" (click)="close()"><i class="glyphicon glyphicon-remove text-secondary"></i></a>
    </div>
    <div mat-dialog-content class="mt-2">
        <form [formGroup]="editCampaignForm">
            <div class="row form-group">
                <div class="col-md-2 d-flex align-items-center"><label class="control-label">Campaign Name</label></div>
                <div class="col-md-10 d-flex align-items-center">
                    <input type="text" class="form-control" formControlName="campaignName">
                    <div
                        *ngIf="editCampaignForm.get('campaignName').invalid && editCampaignForm.get('campaignName').touched">
                        <small *ngIf="editCampaignForm.get('campaignName').errors?.required"
                            class="text-danger">Campaign
                            name is required</small>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2 d-flex align-items-center">
                    <label class="control-label">
                        Campaign Description
                    </label>
                </div>
                <div class="col-md-10 d-flex align-items-center">
                    <input type="text" class="form-control" formControlName="campaignDescription">
                    <div
                        *ngIf="editCampaignForm.get('campaignDescription').invalid && editCampaignForm.get('campaignDescription').touched">
                        <small *ngIf="editCampaignForm.get('campaignDescription').errors?.required"
                            class="text-danger">Campaign Description is required</small>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2 d-flex align-items-center"><label class="control-label">Emails</label></div>
                <div class="col-md-10">
                    <div *ngFor="let email of emailList;index as i" class="clearfix" [ngClass]="{'mt-2':i != 0}">
                        <span class="float-left">{{ email.message_subject }}</span>
                        <div class="float-right">
                            <span (click)="getEmailPreview(email)" class="cursor-pointer">Edit <i
                                    class="fa fa-edit mr-4"></i></span>
                            <span (click)="deleteEmail(email)" class="cursor-pointer">Delete <i
                                    class="fa fa-trash text-danger"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div [ngClass]="{'d-none':this.editCampaignForm.get('message').value === null}">
                <div class="row form-group">
                    <div class="col-md-2 d-flex align-items-center"><label class="control-label">Subject</label></div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" formControlName="subject">
                    </div>
                </div>
                <div class="row form-group mb-0">
                    <div class="col-md-2 d-flex align-items-center"><label class="control-label">Attachment</label>
                    </div>
                    <div class="col-md-5">
                        <div *ngIf="!attachedFile">
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <div class="form-control" data-trigger="fileinput">
                                    <i class="glyphicon glyphicon-file fileinput-exists mr-2"></i>
                                    <span class="fileinput-filename w-75">{{fileName}}</span>
                                </div>
                                <span class="input-group-addon btn btn-default btn-file">
                                    <span class="fileinput-new"><i class="fa fa-paperclip"
                                            aria-hidden="true"></i></span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="files" class="form-control form-control-sm" #uploads
                                        formControlName="attachment" (change)="attachFile(uploads.files)"
                                        value="process" />
                                </span>
                            </div>
                        </div>
                        <div *ngIf="attachedFile">{{attachedFile}} <button (click)="removeAttachment()"
                                class="btn btn-danger btn-sm">Remove</button>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-2 d-flex align-items-center"></div>
                    <div class="col-md-5">
                        <div class="text-primary">
                            Allowed formats are 'txt', 'pdf', 'png', 'jpg', 'jpeg',
                            'gif','docx','doc'
                        </div>
                    </div>
                </div>


                <angular-editor class="sendMailEditor" formControlName="message" [config]="editorConfig">
                </angular-editor>
            </div>
        </form>
    </div>
    <div mat-dialog-actions align="end">
        <button type="submit" (click)="sendDataToParent(editCampaignForm.value)" [disabled]="!editCampaignForm.valid"
            mat-raised-button color="accent">Save</button>
    </div>
</div>