<div *ngIf="apiInProcess" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>

<div *ngIf="!apiInProcess" class="mt-5 pt-4 create-campaign">
  <form [formGroup]="sendMailToAllForm">
    <div class="row form-group">
      <div class="col-md-2 d-flex align-items-center"><label class="control-label">Campaign Name</label></div>
      <div class="col-md-10 d-flex flex-column justify-content-center">
        <input type="text" class="form-control form-control-sm" formControlName="campaign" placeholder="Campaign Name">
        <div *ngIf="sendMailToAllForm.get('campaign').invalid && sendMailToAllForm.get('campaign').touched">
          <small *ngIf="sendMailToAllForm.get('campaign').errors?.required" class="text-danger">Subject is
            required</small>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-2 d-flex align-items-center"><label class="control-label">Campaign Description</label></div>
      <div class="col-md-10 d-flex align-items-center">
        <input type="text" class="form-control form-control-sm" formControlName="campaignDescription"
          placeholder="Campaign Description">
        <div
          *ngIf="sendMailToAllForm.get('campaignDescription').invalid && sendMailToAllForm.get('campaignDescription').touched">
          <small *ngIf="sendMailToAllForm.get('campaignDescription').errors?.required" class="text-danger">Campaign
            Description is
            required</small>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-2 d-flex align-items-center"><label class="control-label">Subject</label></div>
      <div class="col-md-5 d-flex align-items-center">
        <input type="text" class="form-control" formControlName="subject" placeholder="Subject">
      </div>
    </div>

    <div class="row form-group mb-0" [ngClass]="{'d-none':attachment === false}">
      <div class="col-md-2 d-flex align-items-center"><label class="control-label attachment">Attachment</label></div>
      <div class="col-md-5 d-flex align-items-center">
        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
          <div class="form-control attachment-input-field" data-trigger="fileinput">
            <i class="glyphicon glyphicon-file fileinput-exists"></i>
            <span class="fileinput-filename">{{fileName}}</span>
          </div>
          <span class="input-group-addon btn btn-default btn-file">
            <span class="fileinput-new"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
            <span class="fileinput-exists">Change</span>
            <input type="file" name="files" class="form-control form-control-sm" #uploads formControlName="attachment"
              (change)="attachFile(uploads.files)" value="process" placeholder="Attachment">
          </span>
        </div>
      </div>
    </div>

    <div class="row form-group" [ngClass]="{'d-none':attachment === false}">
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="text-primary">Allowed formats are 'txt', 'pdf', 'png', 'jpg', 'jpeg', 'gif','docx','doc'</div>
      </div>
    </div>

    <angular-editor class="sendMailEditor" id="message" formControlName="message" [config]="editorConfig"
      placeholder="Message..">
    </angular-editor>
    <div *ngIf="sendMailToAllForm.get('message').invalid && sendMailToAllForm.get('message').touched">
      <small *ngIf="sendMailToAllForm.get('message').errors?.required" class="text-danger">Message body is
        required</small>
    </div>
  </form>
  <div class="float-right">
    <button class="mt-3 mb-3" type="submit" (click)="createCampaign(sendMailToAllForm.value)"
      [disabled]="!sendMailToAllForm.valid || createCampaignInProcess" mat-raised-button color="accent">Create
      Campaign</button>
  </div>
</div>