<div class="row">
  <div class="col-12 p-0">
    <app-popup-message *ngIf="popUpValue" [message]="popUpValue"></app-popup-message>
  </div>
</div>
<div class="row px-4">

  <div *ngFor="let smtp of smtpList;index as i;let first = first;let last = last" class="imap-container">
    <div class="imap-content">
      <div class="imap-content__name">
        {{smtp.mail_username}}
      </div>
      <div class="imap-content__date">
        {{smtp.created_at | date:'d MMM y'}}
      </div>
    </div>
    <div class="imap-image">
      <div class="imap-image__container">
        <img [src]="smtp.imgSrc" alt="imap-image" class="imap-image__container--img">
      </div>
    </div>
    <div class="imap-action-buttons">
      <i (click)='updatePassword(smtp._id)' class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <i (click)="removeUser(smtp._id)" class="fa fa-trash-o" aria-hidden="true"></i>
      <div class="d-flex" [ngClass]="{'not-allowed':first}">
        <i [ngClass]="{'pointer-event-none':first}" (click)="changePriority(smtp,1,i)" class=" fa fa-arrow-left"
          aria-hidden="true"></i>
      </div>
      <div class="d-flex" [ngClass]="{'not-allowed':first}">
        <i [ngClass]="{'pointer-event-none':first}" (click)="changePriority(smtp,0,i)" class="fa fa-arrow-right"
          aria-hidden="true"></i>
      </div>
    </div>
  </div>

</div>