@import "../../../../global.scss";
@import "../../../styles/helpers";
@import "../../../../../node_modules/jasny-bootstrap/dist/css/jasny-bootstrap";

.form-control {
  white-space: nowrap;
  overflow: hidden;
}

.control-label {
  margin-bottom: 0;
}

.fileinput.input-group {
  display: flex;
}
.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
  border-radius: 0 $border-radius $border-radius 0;
  &.btn-xs,
  &.btn-sm {
    border-radius: 0 $border-radius-sm $border-radius-sm 0;
  }
  &.btn-lg {
    border-radius: 0 $border-radius-lg $border-radius-lg 0;
  }
}
