@import "../../../../global.scss";

.btn-hover {
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
  max-width: 50px;
  height: 36px;
  transition: 1s max-width;
  overflow: hidden;
  background-color: #007eff;
  color: #fff;
  border-radius: 50px !important;
  justify-content: center;
  i {
    padding: 0 1rem;
  }
  span {
    display: none;
  }
  &:hover {
    max-width: 250px;
    i {
      padding: 0;
      padding-right: 8px;
    }
    span {
      display: block;
    }
  }
}
