@import "../../../styles/helpers";
@import "../../../../../node_modules/jasny-bootstrap/dist/css/jasny-bootstrap";

.fileinput.input-group {
  display: flex;
}
.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
  border-radius: 0 $border-radius $border-radius 0;
  &.btn-xs,
  &.btn-sm {
    border-radius: 0 $border-radius-sm $border-radius-sm 0;
  }
  &.btn-lg {
    border-radius: 0 $border-radius-lg $border-radius-lg 0;
  }
}

.userDataFormat {
  line-height: 1.5rem;
}

.fileName {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
