<div *ngIf="apiInProcess" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div *ngIf="!apiInProcess">
    <div class="clearfix">
        <h2 class="float-left">Send Mail</h2>
        <a class="float-right" (click)="close()"><i class="glyphicon glyphicon-remove text-secondary"></i></a>
    </div>
    <div mat-dialog-content class="mt-3">
        <form [formGroup]="sendMailConfiguration">
            <div class="row form-group">
                <div class="col-md-7 d-flex"><label class="control-label d-flex align-items-end">Interval Between
                        Email</label></div>
                <div class="col-md-3 pr-0">
                    <input type="number" class="form-control form-control-sm" formControlName="interval">
                    <div
                        *ngIf="sendMailConfiguration.get('interval').invalid && sendMailConfiguration.get('interval').touched">
                        <small *ngIf="sendMailConfiguration.get('interval').errors?.required"
                            class="text-danger">Interval is
                            required</small>
                    </div>
                </div>
                <div class="col-md-2 d-flex align-items-end pl-2">Sec</div>
            </div>
            <div>
                <label class="field-label">Select Smtp</label>
                <div class="flex-container">
                    <div *ngFor="let smtp of sendMailConfiguration.controls.smtps.controls; let i=index;"
                        class="d-flex align-items-center">
                        <input type="checkbox" [formControl]="smtp" class="mr-2">
                        {{smtpList[i].mail_username}}
                        <div class="text-danger ml-3"
                            *ngIf="data.sendMailError && smtpList[i].mail_username === data.sendMailError.mail">
                            {{data.sendMailError.message}}
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div mat-dialog-actions align="end">
        <button type="submit" (click)="passDataToParent()" [disabled]="!sendMailConfiguration.valid" mat-raised-button
            color="accent">Send</button>
    </div>
</div>