$missed: #c0392b;
$success: #398439;
$error: #d58512;
$again: #269abc;
$background: #fff;
$errorSnackbar: #c0392b;
$successSnackbar: #398439;
$scrollbarBG: #fff;
$scrollbarBoxShadow: rgba(0, 0, 0, 0.3);
$scrollbarThumbBG: #555;
$red: red;
$grey: grey;
$danger: #f55d5d;
$alert: #e6d8f9;
$alertText: #9964e3;
$warningAlert: #fff0d1;
$warningText: #ffb732;
$firstRoundProgress: #9964e3;
$secondRoundProgress: #c29cf7;
$thirdRoundProgress: #e5d8f8;
$max-width: 768px;
$xs_max_width: 480px;
$headerButtonColor: #567eff;
$headerBackground: #cbd7fd;
$sidenav-active-bg: #e9edf0;
$sidenav-active-border: #547fff;
$bottom-sidenav-active: #ffc247;

$black: #3d3d3d;

$extraGrey: #e0e0e0;
$white: #ffffff;
$lightGrey: #5e5e5e;
$primary-light: #aed5fe;
$warning: #f6a609;
$warning-light: #f8e1b4;
