<div *ngIf="loginForm" class="container-fluid">
    <div class="row">
        <div class="left-panel col-12 col-md-4 d-flex flex-column justify-content-center px-sm-4 px-lg-5">
            <header>
                <div class="text-center mb-3">
                    <img class="company-icon" src="assets/img/rocket.svg" alt="Excellece Technologies">
                </div>
                <h4 class="font-weight-bold mb-0">Welcome to</h4>
                <h1 class="title font-weight-bold text-dark">Campaign Management System (CMS)</h1>
            </header>
            <form class="form" [formGroup]="loginForm" (ngSubmit)='onLogin(loginForm.value)'>
                <div class="custom-form-field-theme pt-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Email'}}</mat-label>
                        <input matInput type="email" formControlName="email">
                        <mat-error>{{'Email is Required.'}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Password'}}</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-error>{{'Password is Required.'}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="d-flex justify-content-between login-helper text-muted-altered">
                    <label class="mb-0">
                        <input type="checkbox" class="check-custom radio" formControlName="remember_me" hidden>
                        <span class="check-toggle"></span>
                        <small class="ml-2">Remember me</small>
                    </label>
                    <small (click)="forgetPassword()">Forget password?</small>
                </div>
                <button class='btn btn-primary btn-block w-100 font-weight-bold login-button' type="submit"
                    [disabled]="loginForm.invalid || apiInProgress">
                    {{apiInProgress ? 'Logging In' : 'Login'}}
                </button>
                <div *ngIf="popUpValue" class="popup-alert">
                    <span class="text-warning">{{popUpValue}}</span>
                </div>
            </form>
        </div>

        <div class="right-panel col-md-8 d-none d-md-flex flex-column bg-primary">
            <figure class="my-3 text-center d-none d-md-block">
                <!-- <img src="assets/img/login.png"> -->
            </figure>
        </div>
    </div>
</div>